@import "./reset.css";

body {
  /*
    font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "游明朝体", "Yu Mincho", "HG明朝E", "メイリオ", Meiryo, sans-serif;
    */
  font-family: '游ゴシック体', 'Yu Gothic', YuGothic, 'ヒラギノ角ゴ Pro W3',
    'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'Oswald', 'ＭＳ Ｐゴシック',
    sans-serif;
  font-feature-settings: “palt”;
  background: #fff;
  color: #333;
}

h1 {
  font-size: 3rem;
}